HTML, BODY, #root, .App {
  height: 100%;
  margin: 0px;
}

.App {
  display: flex;
  flex-flow: column;
}

.App:focus {
  outline: none !important;
}


.MenuBar {
  display: flex;
  flex: 0 1 auto;
  padding-top: 2px;
  padding-bottom: 2px;

  background-color: darkslategray;
  color: lightgray;
  font-size: 14pt;
  align-items: center;
}

.MenuBar > * {
  padding-left: 0.5em;
  padding-right: 0.75em;
}

.MenuBar > .MenuLogo {
  width: 24pt;
  height: 24pt;
}

.AppWindow {
  display: flex;
  flex: 1 1 auto;
  flex-flow: row;
  overflow: hidden;
}

.LeftPane {
  flex-grow: 1;
  overflow: auto;
}

.RightPane {
  flex-basis: 360px;
}
